@charset "utf-8";
/* CSS Document */
.viewFramework-topbar{
	background: #09c none repeat scroll 0 0;
    height: 50px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 140;
}
.viewFramework-topbar-zindex{
  z-index: 180;
}

.ambuf-console-topbar {
    background: #09c none repeat scroll 0 0;
    clear: both;
    font-size: 12px;
    height: 50px;
    min-width: 990px;
    position: relative;
    z-index: 100;
}

.viewFramework-body {

    bottom: 0;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 150;
}



.viewFramework-sidebar-full .viewFramework-sidebar, .viewFramework-sidebar.sidebar-full {
    display: block;
    width: 180px;
}
.viewFramework-sidebar-mini .viewFramework-sidebar, .viewFramework-sidebar.sidebar-mini {
    display: block;
    width: 50px;
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-content, .viewFramework-sidebar.sidebar-mini .sidebar-content {
    width: 70px;
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-fold, .viewFramework-sidebar.sidebar-mini .sidebar-fold {
    width: 50px;
}
.viewFramework-sidebar {
    bottom: 0;
    display: none;
    overflow-x: hidden;
    position: fixed;
    top: 50px;
    width: 0;
    z-index: 100;
}
.viewFramework-sidebar .sidebar-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}
.sidebar-inner{}
.viewFramework-sidebar .sidebar-fold {
    -moz-user-select: none;
    background: #3f4e5f none repeat scroll 0 0;
    color: #aeb9c2;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    line-height: 30px !important;
    text-align: center;
    width: 180px;
}



.viewFramework-sidebar-full .viewFramework-main
,.viewFramework-main-navbar-full .viewFramework-main-content {
    left: 180px;
}
.viewFramework-sidebar-mini .viewFramework-main {
    left: 50px;
}
.viewFramework-main-navbar-mini .viewFramework-main-content {
    left: 0;
}
.viewFramework-main-body {
    background-color: #000;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.viewFramework-main,.viewFramework-main-content {
    background: #f3f3f4 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.viewFramework-inner{
	background: #f3f3f4 none repeat scroll 0 0;
    width: auto;
    padding-bottom: 1px;
    zoom:1;
}
.viewFramework-main .viewFramework-main-iframe,
.viewFramework-main-content .viewFramework-main-iframe{
	position:absolute;width:100%;height:100%;overflow:auto;frameborder:no;
}


/*
 * 二级菜单
 */
.viewFramework-main-navbar-full .viewFramework-main-navbar {
    width: 180px;
}

.viewFramework-main-navbar {
    background-color: #eaedf1;
    bottom: 0;
    float: left;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 0;
    z-index: 2;
}

.viewFramework-main-navbar-full .viewFramework-main-navbar-collapse {
    left: 167px;
}
.viewFramework-main-navbar-collapse {
    height: 50px;
    left: 0;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 13px;
    z-index: 3;
    cursor: pointer;
}

.viewFramework-main-navbar .main-nav-stage {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
}

/*
 * 三级左右结构
 */
.viewFramework-main-navbar-full .viewFramework-main-last-navbar {
    background: #f5f8fa;
}

.layout-content{
    min-height: 200px;
    /*overflow: hidden;*/
    background: #fff;
    border-radius: 4px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 15px;
    padding: 12px;

}



